@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #002B5B;
    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        //Aqui empieza las tarjetas 3d
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            z-index: 2;
            .card {
                position: relative;
                width: 320px;
                height: 320px;
                margin: 20px;
                border-radius: 15px;
                overflow: hidden;
                z-index: 10;
                .box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform-style: preserve-3d;
                    transition: 1s ease;
                    z-index: 10;
                }
                &:hover {
                    .box {
                        transform: rotateY(180deg);
                    }
                }
                .imgBx {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .contentBx {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #262A56;
                    transform: rotateY(180deg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                    div {
                        transform: translateZ(100px);
                        background: linear-gradient(45deg, #159895, #57C5B6);
                        padding: 20px;
                        margin: 0 30px;
                        border-radius: 15px;
                        h2 {
                            font-size: 20px;
                            color: #fff;
                            letter-spacing: 1px;
                            backface-visibility: hidden;
                        }
                        p {
                            font-size: 16px;
                            line-height: 20px;
                            color: #fff;
                            backface-visibility: hidden;
                        }
                    }
                }
            }
        }
        //Aqui empieza el fondo animado
        .bubles {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            span {
                position: relative;
                min-width: 20px;
                height: 20px;
                background: #57C5B6;
                box-shadow: 0 0 0 10px #002B5B, 0 0 50px #AA77FF, 0 0 100px #62CDFF;
                margin: 0 4px;
                // border-radius: 50%; Esto es para hacer los cuadrados circulos
                animation: animate 15s linear infinite;
                animation-duration: calc(75s/var(--i));
                &:nth-child(even){
                    background: #C9EEFF;
                    box-shadow: 0 0 0 10px #146C94, 0 0 50px #38A3A5, 0 0 100px #DFF6F0;
                }                
            }
        }
    }
}
@media (max-width: 770px) {
    body {
        .container {
            overflow: scroll;
            .bubles {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
}
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}